<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">
                <span class="glyphicon glyphicon-home"></span> Boss Yuan
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="about">About</a></li>
                <li ui-sref-active="active"><a ui-sref="self">Self</a></li>
                <li ui-sref-active="active"><a ui-sref="contact.support">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav login">
                <li ui-sref-active="active"><a ui-sref="login">Login</a></li>
                <li ui-sref-active="active"><a ui-sref="home">Sign</a></li>
            </ul>
        </div>
    </div>
</nav>
